.dateTime {
  display: block;
  font-size: 12px;
  line-height: 18px;
}

:global {
  tr.drop-over-downward td {
    border-bottom: 1px dashed #1890ff;
  }
  
  tr.drop-over-upward td {
    border-top: 1px dashed #1890ff;
  }
}
