.card-container {
  p {
    margin: 0;
  }
  >.ant-tabs-card {
    .ant-tabs-content {
      margin-top: -16px;
      >.ant-tabs-tabpane {
        background: #fff;
        padding: 16px;
      }
    }
    >.ant-tabs-nav {
      &::before {
        display: none;
      }
    }
    .ant-tabs-tab {
      border-color: transparent;
      background: transparent;
    }
    .ant-tabs-tab-active {
      border-color: #fff;
      background: #fff;
    }
  }
}
[data-theme='compact'] {
  .card-container {
    >.ant-tabs-card {
      .ant-tabs-tab {
        border-color: transparent;
        background: transparent;
      }
      .ant-tabs-tab-active {
        border-color: #fff;
        background: #fff;
      }
      .ant-tabs-content {
        height: 120px;
        margin-top: -8px;
      }
    }
  }
}
#components-tabs-demo-card-top {
  .code-box-demo {
    background: #f5f5f5;
    overflow: hidden;
    padding: 24px;
  }
}
[data-theme='dark'] {
  .card-container {
    >.ant-tabs-card {
      .ant-tabs-tab {
        border-color: transparent;
        background: transparent;
      }
      .ant-tabs-content {
        >.ant-tabs-tabpane {
          background: #141414;
        }
      }
      .ant-tabs-tab-active {
        border-color: #141414;
        background: #141414;
      }
    }
  }
  #components-tabs-demo-card-top {
    .code-box-demo {
      background: #000;
    }
  }
}
