.header {
  margin: -24px -16px 24px;
  background-color: #fff;
  
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0,21,41,0.08);

  :global {
    .ant-page-header.has-breadcrumb {
      padding-top: 16px;
    }
  }
}
