:global {
  .ant-list-item {
    background-color: #fff;
    padding: 12px;
    cursor: pointer;

    .ant-list-item-action {
      opacity: 0;
    }

    &:hover {
      background-color: #f9f9f9;

      .ant-list-item-action {
        opacity: 1;
      }
    }
  }
}